<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="#">{{ user.get_username }}</a></li>
    <li class="list-group-item">
      <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-link" style="padding: 0; border: none; background: none;">Logout</button>
      </form>
    </li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login' %}">Login</a></li>
  {% endif %}

  <br>
  <li class="list-group-item"><a href="{% url 'store:index' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'store:category-list' %}">All categories</a></li>
  <li class="list-group-item"><a href="{% url 'store:brand-list' %}">All brands</a></li>
  <li class="list-group-item"><a href="{% url 'store:customer-list' %}">All customers</a></li>
  <li class="list-group-item"><a href="{% url 'store:product-list' %}">All products</a></li>
  <li class="list-group-item"><a href="{% url 'store:order-list' %}">My orders</a></li>
  <li class="list-group-item"><a href="{% url 'store:cart-detail' %}">My shopping cart</a></li>
</ul>
