{% extends "base_list.html" %}
{% load crispy_forms_filters %}
{% block search_filter %}
  <nav class="nav flex-column">
    <form method="get" action="" class="form-control">
      <div>
        {{ search_form|crispy }}
      </div>
      <button type="submit" class="btn btn-outline-success container mb-1">Search</button>
      <div>
        <a href="{% url "store:brand-list" %}" class="btn btn-outline-danger container">Reset</a>
      </div>
    </form>
  </nav>
{% endblock %}
{% block list %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>Brand list</h1>
    <a class="btn btn-primary" href="{% url 'store:brand-create' %}">
      Add a new brand
    </a>
  </div>
  {% include "includes/pagination.html" %}
  {% if brand_list %}
    <table class="table table-hover align-middle">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Listed positions</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for brand in brand_list %}
        <tr>
          <td>{{ brand.name }}</td>
          <td>{% if brand.description %}{{ brand.description }}{% else %}No description{% endif %}</td>
          <td>{{ brand.products.count }}</td>
          <td>
            <a href="{% url 'store:brand-update' brand.id %}">
              <i class="bi-pen h3"></i>
            </a>
          </td>
          <td>
            <a style="color: red"
               href="{% url 'store:brand-delete' brand.id %}">
              <i class="bi-trash h3"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no brands.</p>
  {% endif %}
{% endblock %}
