{% extends "base.html" %}
{% load cart_filters %}

{% block content %}

  <h1>{{ shopping_cart }}</h1>
  <hr>

  {% if cart_items %}
    <p><strong>{{ cart_items.count }} position{{ cart_items.count|pluralize }}:</strong></p>
  <table class="table">
    <tr>
      <th>Product name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total cost</th>
    </tr>
    {% for cart_item in cart_items %}
      <tr>
        <td><a href="{% url 'store:product-detail' cart_item.product.id %}">
          {{ cart_item.product.name }} {{ cart_item.product.unit_value|floatformat }} {{ cart_item.product.unit_name }}
        </a></td>
        <td>{{ cart_item.product.price }}</td>
        <td>
            <a href="{% url 'store:cart-delete-product' cart_item.product.id %}" class="btn btn-light">➖</a>
            {{ cart_item.product|in_cart_amount:user.shopping_cart|floatformat }}
            <a href="{% url 'store:cart-add-product' cart_item.product.id %}" class="btn btn-light">➕</a>
            <a href="{% url 'store:cart-delete-product' cart_item.product.id %}?full_delete=true" class="btn btn-light">❌</a>
        </td>
        <td >{{ cart_item.total_cost|floatformat:2 }}</td>
      </tr>
    {% endfor %}
      <tr>
        <td colspan="3" ><strong>Total cost for positions in the cart</strong></td>
        <td><strong>{{ total_cost|floatformat:2 }}</strong></td>
      </tr>
  </table>
    
  <a href="{% url 'store:cart-empty'%}" class="btn btn-danger">Empty cart</a>
    
  {% else %}
    <p>No added items.</p>
  {% endif %}

{% endblock %}
