{% extends "base_list.html" %}
{% load crispy_forms_filters %}
{% block search_filter %}
  <nav class="nav flex-column">
    <form method="get" action="" class="form-control">
    <div>
      {{ search_form|crispy }}
    </div>
      <button type="submit" class="btn btn-outline-success container mb-1">Search</button>
    <div>
      <a href="{% url "store:category-list" %}" class="btn btn-outline-danger container">Reset</a>
    </div>
    </form>
  </nav>

{% endblock %}

{% block list %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>Category list</h1>
      <a class="btn btn-primary" href="{% url 'store:category-create' %}" >
        Add a new category
      </a>
  </div>
  {% include "includes/pagination.html" %}
  {% if category_list %}
    <table class="table table-hover align-middle">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    {% for category in category_list %}
      <tr>
        <td>{{ category.name }}</td>
        <td>{{ category.description }}</td>
        <td>
          <a href="{% url 'store:category-update' category.id %}">
            <i class="bi-pen h3"></i>
          </a>
        </td>
        <td>
          <a style="color: red"
            href="{% url 'store:category-delete' category.id %}">
            <i class="bi-x-square h3"></i>
          </a>
        </td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
      <p>There are no categories.</p>
    {% endif %}
{% endblock %}
