{% extends "base.html" %}
{% block content %}
  <h1>
    Customer list
    <a href="{% url 'store:customer-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  
  </h1>
  {% if customer_list %}
    <table class="table">
      <tr>
        <th>Username</th>
        <th>Full name</th>
        <th>Is staff</th>
        <th>Phone number</th>
        <th>Address</th>
        <th>Orders</th>
      </tr>
    {% for customer in customer_list %}
      <tr>
        <td><a href="{% url 'store:customer-detail' customer.id %}">{{ customer.get_username }}</a></td>
        <td>{{ customer.get_full_name }}</td>
        <td>{{ customer.is_staff }}</td>
        <td>{{ customer.phone_number }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.orders.count }}</td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
      <p>There are no categories.</p>
    {% endif %}
{% endblock %}
