{% extends "base.html" %}

{% block content %}
  <header class="masthead">
    <div class="container position-relative">
      <div class="row justify-content-center">
        <div class="col-xl-6">
          <div class="text-center text-black">
            <!-- Page heading-->
            <h1 class="mb-5">Shop Wise!</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex"><i class="bi-person m-auto text-primary display-1"></i></div>
            <h1>{{ num_customers }}</h1>
            <p class="lead mb-0">registered customers</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex"><i class="bi-cup-straw m-auto text-primary display-1"></i></div>
            <h1>{{ num_products }}</h1>
            <p class="lead mb-0">listed products</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex"><i class="bi-building m-auto text-primary display-1"></i></div>
            <h1>{{ num_brands }}</h1>
            <p class="lead mb-0">listed brands</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex"><i class="bi-list-ol m-auto text-primary display-1"></i></div>
            <h1>{{ num_orders }}</h1>
            <p class="lead mb-0">placed orders</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>

{% endblock %}
