{% extends "base_list.html" %}
{% load crispy_forms_filters %}
{% block search_filter %}
  <nav class="nav flex-column">
    <form method="get" action="" class="form-control">
      <div>
        {{ search_form|crispy }}
      </div>
      <button type="submit" class="btn btn-outline-success container mb-1">Search</button>
      <div>
        <a href="{% url "store:order-list" %}" class="btn btn-outline-danger container">Reset</a>
      </div>
    </form>
  </nav>
{% endblock %}
{% block list %}
  <h1>
    Order list
  </h1>
  {% include "includes/pagination.html" %}
  {% if order_list %}
    <table class="table table-hover">
      <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Status</th>
        {% if user.is_staff %}
          <th>Update order status</th>
        {% endif %}
        <th>Date of creation</th>
        <th>Total cost</th>
        <th>Details</th>
      </tr>
      {% for order in order_list %}
        <tr>
          <td>{{ order.id }}</td>
          <td>{{ order.customer.username }}({{ order.customer.get_full_name }})</td>
          <td>{{ order.status }}</td>
          {% if user.is_staff %}
            <td>
              <form method="post" action="{% url 'store:order-update' order.id %}">
                {% csrf_token %}
                {{ status_form.status }}
                <button type="submit" class="btn btn-outline-primary">Update</button>
              </form>
            </td>
          {% endif %}
          <td>{{ order.created_at }}</td>
          <td>{{ order.total_cost|floatformat:2 }}</td>
          <td><a href="{% url 'store:order-detail' order.id %}">
            <i class="bi-card-list h3"></i>
          </a></td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no orders.</p>
  {% endif %}
{% endblock %}
