{% extends "base.html" %}

{% block content %}
<section>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-10">
        <div class="card border-top border-bottom border-3">
          <div class="card-body p-5">
            <div class="d-flex justify-content-between align-items-center">
              <p class="lead fw-bold mb-5">Order Details</p>
              <a class="btn btn-close mb-5" href="javascript:history.back()"></a>
            </div>
            <div class="row">
              <div class="col mb-3">
                <p class="small text-muted mb-1">Order No.</p>
                <p>{{ order.id }}</p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Date</p>
                <p>{{ order.created_at }}</p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Customer</p>
                <p>{{ order.customer }}</p>
              </div>
            </div>

            <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
              <div class="row">
                <div class="col-md-8 col-lg-6 fw-bold">
                  <p>Product name</p>
                </div>
                  <div class="col-md-4 col-lg-3 fw-bold">
                    <p>Quantity x Price</p>
                  </div>
                <div class="col-md-4 col-lg-3 fw-bold">
                  <p>Total price</p>
                </div>
              </div>
              {% for order_item in order.order_items.all %}
                <div class="row">
                <div class="col-md-8 col-lg-6">
                  <a href="{% url 'store:product-detail' order_item.product.id %}">
                    {{ order_item.product.name }} {{ order_item.product.unit_value|floatformat }} {{ order_item.product.unit_name }}
                  </a>
                </div>
                  <div class="col-md-4 col-lg-3">
                    <p>{{ order_item.quantity|floatformat }} x {{ order_item.product.price }}</p>
                  </div>
                <div class="col-md-4 col-lg-3">
                  <p>{{ order_item.total_cost|floatformat:2 }}</p>
                </div>
              </div>
              {% endfor %}
            </div>

            <div class="row my-4">
              <div class="col-md-8 col-lg-9">
                 <p class="lead fw-bold mb-0">Total cost</p>
                </div>
              <div class="col-md-8 col-lg-3">
                <p class="lead fw-bold mb-0">{{ order.total_cost|floatformat:2 }}</p>
              </div>
            </div>

            <p class="lead mb-4 pb-2">Current order status: <strong>{{ order.get_status_display }}</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
