{% extends "base.html" %}
{% block content %}
  <h1>
    Order list
  </h1>
  {% if order_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Status</th>
        <th>Update order status</th>
        <th>Date of creation</th>
        <th>Total cost</th>
        <th>Details</th>
      </tr>
    {% for order in order_list %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.customer.get_full_name }}</td>
        <td>{{ order.status }}</td>
        <td>
          <form method="post" action="{% url 'store:order-update' order.id %}">
            {% csrf_token %}
              {{ status_form.status }}
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
            </td>
        <td>{{ order.created_at|timesince }} ago</td>
        <td>{{ order.total_cost|floatformat:2 }}</td>
        <td><a href="{% url 'store:order-detail' order.id %}">Details</a></td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
      <p>There are no orders.</p>
    {% endif %}
{% endblock %}
