{% extends "base.html" %}

{% block content %}
  
  <h1>
    {{ product.name }} {{ product.unit_value|floatformat }} {{ product.unit_name }}
  </h1>
  
  <p>Brand: {{ product.brand }}</p>
  <p>Category: {{ product.category }}</p>
  {% if product.description %}
    <p>Product description: {{ product.description }}</p>
  {% endif %}
  <p>Price: {{ product.price }}</p>
  <p>Stock quantity: {{ product.stock_quantity|floatformat }}</p>
  
  <h1>Reviews:</h1>
  <p><strong>{{ product.reviews.count }} review{{ product.reviews.count|pluralize }}</strong></p>
  
  {% if product.reviews.all %}
    {% for review in product.reviews.all %}
      <div>
        <h4>{{ review.customer }} {{ review.created_at|timesince }} ago</h4>
        <p>{{ review.content }}</p>
      </div>
    {% endfor %}
  {% else %}
    <p><i>No reviews yet.</i></p>
  {% endif %}
  
{% endblock %}
