{% extends "base.html" %}
{% load cart_filters %}

{% block content %}
  <h1>
    Product list
    <a href="{% url 'store:product-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% if product_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Unit</th>
        <th>Price</th>
        <th>Quantity in stock</th>
        <th>Shopping cart</th>
      </tr>
    {% for product in product_list %}
      <tr>
        <td>{{ product.id }}</td>
        <td><a href="{% url 'store:product-detail' product.id %}">{{ product.name }}</a></td>
        <td>{{ product.unit_value|floatformat }} {{ product.unit_name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.stock_quantity|floatformat:0 }}</td>
        <td>
          {% if product|in_cart_amount:user.shopping_cart > 0 %}
            <a href="{% url 'store:cart-delete-product' product.id %}" class="btn btn-light">➖</a>
            {{ product|in_cart_amount:user.shopping_cart|floatformat }}
            <a href="{% url 'store:cart-add-product' product.id %}" class="btn btn-light">➕</a>
            <a href="{% url 'store:cart-delete-product' product.id %}?full_delete=true" class="btn btn-light">❌</a>
          {% else %}
            <a href="{% url 'store:cart-add-product' product.id %}" class="btn btn-light">🛒</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
      <p>There are no products.</p>
    {% endif %}
{% endblock %}
