{% extends "base.html" %}
{% load cart_filters %}

{% block content %}
  <h1>
    Product list
  </h1>
  {% if product_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Unit</th>
        <th>Price</th>
        <th>Add to cart</th>
      </tr>
    {% for product in product_list %}
      <tr>
        <td>{{ product.id }}</td>
        <td><a href="{% url 'store:product-detail' product.id %}">{{ product.name }}</a></td>
        <td>{{ product.unit_value|floatformat }} {{ product.unit_name }}</td>
        <td>{{ product.price }}</td>
        <td>
          {% if product|in_cart_exists:user.shopping_cart %}
            In cart: {{ product|in_cart_amount:user.shopping_cart|floatformat }}, <a href="{% url 'store:cart-add-product' product.id %}">add more</a>
          {% else %}
            <a href="{% url 'store:cart-add-product' product.id %}">Add</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
      <p>There are no products.</p>
    {% endif %}
{% endblock %}
